*.o
*.so
*.moc
moc_*
*.user
*~
uihelpersversion.h
lib/
.qmake.cache
include/
module-paths
*.Debug
debug/
*.Release
release/
*.pdb
tmp/
Makefile
*.rc
qrc_*
examples/undo/editor/editor
examples/models/fsviewer/fsviewer
examples/models/completionmodel/completionmodel
